body {
}
/*.button_start {
    background:  no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    height: 31px;
    
	font-size:14px;
	background-repeat:repeat-x;	
}

.LabelVentana
{
	text-align: right;
	background-repeat:repeat-x;
	
}
.HeaderVentanagrilla
{
	text-align: center;
	background-repeat:repeat-x;
	
	color:White ;
	background-color:White ;
	font-weight :bold ;
}

.HeaderStyleGridview
{
	
    border: medium none;
    color: #FFFFFF;
    height: 31px;
    width: 100%;
	font-size:14px;
	background-repeat:repeat-x;
	
}
.LabelVentanaSinX
{
    color: #FFFFFF;	
	font-size:14px;
	font-weight:bold;
	background-repeat:repeat-x;
	
	
}*/
