<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="dbGeneral" connectionString="Data Source=.;Initial Catalog=dblogin;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="Generals.business.Properties.Settings.Setting" connectionString="Data Source=.;Initial Catalog=dbLogin;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    <add name="Generals.business.Properties.Settings.BDHGI2ConnectionString" connectionString="Data Source=.;Initial Catalog=dbBrakGE;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    <add name="dbGeneralsUser" connectionString="metadata=res://*/UserEntities.Users.csdl|res://*/UserEntities.Users.ssdl|res://*/UserEntities.Users.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=dblogin;Persist Security Info=True;&quot;" providerName="System.Data.EntityClient" />
    <add name="BrakGEEntities" connectionString="metadata=res://*/Data.MBD.csdl|res://*/Data.MBD.ssdl|res://*/Data.MBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=dbBrakGE;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbBrakGEEntities" connectionString="metadata=res://*/Data.MDB.csdl|res://*/Data.MDB.ssdl|res://*/Data.MDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=dbBrakGE;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="dbGeneral" />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WorkFlowServicesSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="WorkFlowServicesSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.164.16.89:88/Presto.Workflow.Service/" binding="basicHttpBinding" bindingConfiguration="WorkFlowServicesSoap" contract="WorkFlowServices.WorkFlowServicesSoap" name="WorkFlowServicesSoap" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>