div.rounded {
    clear:both;
    max-width:2200px;
}

div.rounded div.top-outer
{
    background: url(../img/tl.gif) no-repeat left bottom;
    padding: 0px;
    width: 930px;
}

div.rounded div.top-outer div.top-inner {
    background:url(../img/tr.gif) no-repeat right bottom;
    margin-left:9px;
    width: 930px;
}

div.rounded div.top-outer div.top-inner div.top {
    background:url(../img/tm.gif) repeat;
    height:23px;
    margin-right:9px;
    font-size:.01em;
    width: 921px;
}
 
div.rounded div.mid-outer {
    background : url(../img/l.gif) left repeat-y;
    clear:both;
    width:939px;
}

div.rounded div.mid-outer div.mid-inner
{
	background: url(../img/r.gif) right repeat-y;
	margin-left: 9px;
}

div.rounded div.mid-outer div.mid-inner div.mid {
	background-color:#ffffff;
    margin-right:9px;
}

div.rounded div.bottom-outer
{
    background: url(../img/bl.gif) no-repeat left top;
    clear: both;
    padding: 0px;
    width: 939px;
}

div.rounded div.bottom-outer div.bottom-inner
{
    background: url(../img/br.gif) no-repeat right top;
    margin-left: 8px;
}

div.rounded div.bottom-outer div.bottom-inner div.bottom
{
    background: url(../img/bm.gif) repeat;
    height: 9px;
    margin-right: 8px;
    font-size: .01em;
}